@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
    font-size: 13px;
}

header a {
    text-decoration: none;
    color: rgb(63, 61, 61);
}

header a:hover {
    text-decoration: underline;
}

header .sign-in a:hover {
    text-decoration: none;
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-nav > * {
    margin-left: 20px;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav > * {
    margin-right: 20px;
}

.sign-in a {
    background-color: #4285f4;
    color: white;
    padding: 7.5px 12.5px;
    font-weight: 600;
    border: 1px solid #4285f4;
    border-radius: 2.5px;
}

.google-apps {
    height: 25px;
    width: 28px;
    background:url("Images/google-apps-passive.png");
    background-size: cover;
    background-position: center;
}

.google-apps:hover {
    height: 25px;
    width: 28px;
    background:url("Images/google-apps-active.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    padding: 100px;
}

.main > * {
    margin-bottom: 20px;
}

.google-mic {
    background:url("Images/google-mic.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
}

.google-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 25px;
}

.google-search:hover {
    box-shadow: 0px 2px 9px 1px rgb(228, 225, 225);
}

.google-search > * {
    margin-left: 10px; 
}

.google-search input {
    height: 30px;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: none;
}

.google-search i {
    color: rgb(165, 162, 162);
}

.search-bttns {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(87, 84, 84);
    background:rgb(243, 241, 241);
    border-radius: 5px;
    margin: 5px;
}

.btn:hover {
    border: 1px solid lightgray;
    margin: 4px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    background-color: #f2f2f2;
    padding: 12px;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
}

.left-footer {
    display: flex;
}

.right-footer {
    display: flex;
}

.left-footer > *{
    text-align: center;
    margin-right: 12px;
    margin-left: 15px;
}

.left-footer a {
    text-decoration: none;
    color: rgb(87, 84, 84);
}

.left-footer a:hover {
    text-decoration: underline;
}

.right-footer > *{
    text-align: center;
    margin-right: 15px;
    margin-left: 12px;
}

.right-footer a {
    text-decoration: none;
    color: rgb(87, 84, 84);
}

.right-footer a:hover{
    text-decoration: underline;
}